<div class="container">
    <h1><a href="/">Social Typist</a></h1>
    <p class="main-links">
        <a class="read" href="#">Read stories</a>
        | <a class="mystories" href="#">Your stories</a>
        | <a class="write selected" href="#">Write a story</a>
    </p>    
    <div class="content-area plain">
        <form class="well span6 center" action="" method="post">
            <p>
                <label>Title of your story</label>
                <input type="text" name="title" class="span4">
            </p>            
            <p>
                <label>Number of collaborators</label>
                <select class="span1" name="collaborators">
                    <option>Just me</option>
                    <option>1</option>
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>Unlimited</option>                                                                                
                </select>
            </p>
            <p>
                <label>Add some tags</label>
                <input type="text" class="span3" name="tags" placeholder="travel,experience,wildlife">
                <span class="help-inline">Helps people discover your story</span>
            </p>
            <button type="submit" class="btn btn-large">Create Story</button>
        </form>
    </div>
</div>
