<script src="/public/js/views/storyeditview.js"></script>
<script>
    var story = {{{story}}};
    $(document).ready(function() {
        var view = new SocialTypist.StoryEditView(story, $('#story-editor'));
    });
</script>
<div class="container">
    <h1><a href="/">Social Typist</a></h1>
    <p class="main-links">
        <a class="read" href="#">Read stories</a>
        | <a class="your-stories" href="/stories/yours">Your stories</a>
        | <a class="messages" href="/messages">Messages</a>        
        | <a class="create-story selected" href="/stories/create">Write a story</a>
    </p>
    <div class="content-area row" id="story-editor">
        <div class="content-pane lpane span8">
        <ul class="nav nav-pills">
            <li class="nav-settings">
                <a href="#">Story Settings</a>
            </li>
            <li class="active nav-content">
                <a href="#">Content</a>
            </li>
            <li class="nav-messages">
                <a href="#">Messages</a>
            </li>
            <li class="nav-history">
                <a href="#">History</a>
            </li>
        </ul>
        <hr />
        <div class="tab-content"></div>        
    </div>
        <div class="content-pane rpane span4">
            <p class="form">
                <a href="#" class="publish-button btn btn-large">Publish Story</a> <a class="padded" href="#">preview</a>
            </p>
            <div class="authors section">
            </div>
            <div class="live-updates">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
