<script src="/public/js/views/storyeditview.js"></script>
<script>
    var story = {{{story}}};
    $(document).ready(function() {
        var view = new SocialTypist.StoryEditView(story, $('#story-editor'));
        view.render();
    });
</script>
<div class="container">
    <h1><a href="/">Social Typist</a></h1>
    <p class="main-links">
        <a class="read" href="#">Read stories</a>
        {{#if loginStatus.loggedIn}}
        | <a class="mystories" href="#">Your stories</a>
        {{/if}}
        | <a class="write selected" href="#">Write a story</a>
    </p>
    <div class="content-area row" id="story-editor">
        <div class="content-pane span8">
        <ul class="nav nav-pills">
            <li>
                <a href="#">Story Settings</a>
            </li>
            <li class="active">
                <a href="#">Content</a>
            </li>
            <li>
                <a href="#">Messages</a>
            </li>
        </ul>
        <hr />
        <div class="story"></div>
        </div>
        <div class="content-pane span4">
            <p class="form">
                <a href="#" class="publish-button btn btn-large">Publish Story</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
</div>
