<div class="container">
    <h1><a href="/">Social Typist</a></h1>
    <p class="main-links">
        <a class="read" href="#">Read stories</a>
        | <a class="your-stories" href="/stories/yours">Your stories</a>
        | <a class="messages" href="/messages">Messages</a>
        | <a class="create-story selected" href="#">Write a story</a>
    </p>    
    <div class="content-area plain">
        <form class="well span6 center" action="/stories" method="post">
            <p>
                <label>Title of your story</label>
                <input type="text" name="title" class="span4">
            </p>
            <p>
                <label>Summary <span class="help-inline">In not more than one or two sentences</span></label> 
                <textarea rows="5" name="summary" class="span4"></textarea>
            </p>                  
            <p>
                <label>Add some tags</label>
                <input type="text" class="span3" name="tags" placeholder="travel,wildlife" />
                <span class="help-inline">Helps people discover your story</span>
            </p>
            <button type="submit" class="btn btn-large">Start editing</button>
        </form>
    </div>
</div>
